<%= form_for [:admin, railway_station], html: { style: "display: #{hidden ? 'none' : 'block'}" } do |f| %>
  
  <%= render 'common/errors', resource: railway_station  %>

  <div class="field">
    <%= f.text_field :title %>
  </div>
  
  <div class="actions">
    <%= f.submit t(".submit.#{railway_station.new_record? ? :new : :edit}"), class: 'btn btn-default'  %>
  </div>
<% end %>
