<div class = 'row'>
  <p><%= link_to t('.stations'), admin_railway_stations_path, class: "btn btn-link" %></p>
  <p><%= link_to t('.trains'), admin_trains_path, class: "btn btn-link" %></p>
  
  <p><%= link_to t('.routes'), admin_routes_path, class: "btn btn-link" %></p>
  
  <p><strong><%= link_to t('.tickets'), search_path, class: "btn btn-default" %></strong></p>
</div>