footer {
  position: absolute;
  bottom: 0px;
}

.CoupeCarriage {
  //visibility: hidden;
  display: block;
}

.EconomyCarriage {
  //visibility: hidden;
  display: none;
}

.SoftSeatsCarriage {
  //visibility: hidden;
  display: none;
}

.LuxeCarriage {
  //visibility: hidden;
  display: none;
}

